@model HeatingSystemModel.Model.Meter
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <div>
                @Html.Label("Meter id")
                @Html.TextBox("id")
                
                <input type="submit" value="Login" />
            </div>
        }
    </div>
</body>
</html>
