
@{
    ViewBag.Title = "Index";
}

<body>
    @using (@Html.BeginForm("Index", "Login"))
    {
        <div>
            <h2>Customer acknoledgment</h2>
            <label name="lblAck">@ViewBag.MyLabelAck</label>
        </div>
        <input type="submit" value="Proceed to the login page">
    }

</body>
